---
layout: default
cover: /assets/images/banner_1.jpg
---

<div class="home">

    {% capture current_date %}{{'now' | date: '%s' }}{% endcapture %}

    <div class="clearfix">
      <h1 class="event-time-heading fix-top">Upcoming Events</h1>
      {% for post in site.announcements %}
        {% assign post_date = post.date | date: '%s' %}
        {% if post_date >= current_date %}
          {% assign has_future_events = true %}
          <a href="{{ post.url | prepend: site.baseurl }}">
            {% if post.cover %}
              <div class="event-sqaure" style="background-image:url({{post.cover}});">
            {% else %}
              <div class="event-sqaure" style="background-image:url(/assets/images/default_event_cover.jpg);">
            {% endif %}
              <h2>{{ post.title }} <span>{{ post.date | date: "%b %-d, %Y" }}</span></h2>
              <div class='event-square-overlay'></div>
            </div>
          </a>
        {% endif %}
      {% endfor %}
      {% unless has_future_events %}
        <h2>There are no upcoming events just yet. Stay tuned!</h2>
      {% endunless %}
    </div>

    <div class="clearfix">
      <h1 class="event-time-heading">Past Events</h1>
      {% for post in site.results %}
        {% assign post_date = post.date | date: '%s' %}
        {% if post_date < current_date %}
          <a href="{{ post.url | prepend: site.baseurl }}">
            {% if post.cover %}
              <div class="event-sqaure" style="background-image:url({{post.cover}});">
            {% else %}
              <div class="event-sqaure" style="background-image:url(/assets/images/default_event_cover.jpg);">
            {% endif %}
              <h2>{{ post.title }} <span>{{ post.date | date: "%b %-d, %Y" }}</span></h2>
              <div class='event-square-overlay'></div>
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>

</div>
